/* Home Page */ 
.section-training {
    padding: 50px 0 0;
    .row {
        padding-top: 5px;
        .illustration-img {
            position: absolute;
            top: 0;
            left: 0;
            @include media-breakpoint-down(lg) {
                left: 20px;
                width: 45%;
            }
            @include media-breakpoint-down(md) {
                left: 0;
                max-width: 350px;
                width: 100%;
                position: relative;
                display: block;
                margin: 30px auto;
            }
        }
        .trained-block {
            margin-top: 20px;
        }
        .logo-list {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
            margin: 15px 0 35px;
            li {
                margin: 0 20px 20px 0;
                @include media-breakpoint-down(xs) {
                    margin: 0 0 20px;
                    width: 33%;
                }
            }
            img {
                width: auto;
                @include media-breakpoint-down(lg) {
                    max-width: 145px;
                    max-height: 55px;
                }
                @include media-breakpoint-down(xs) {
                    max-width: initial;
                    max-height: 40px;
                    width: 86%;
                    margin: 0 auto;
                    display: block;
                }
            }
        }
        .number-list {
            display: flex;
            flex-flow: row wrap;
            align-items: flex-end;
            margin: 0;
            @include media-breakpoint-down(xs) {
                align-items: flex-start;
                justify-content: space-between;
            }
            li {
                margin: 0 60px 20px 0;
                color: $grey-200;
                @include media-breakpoint-down(lg) {
                    margin: 0 35px 20px 0;
                }
                @include media-breakpoint-down(xs) {
                    margin: 0 0 15px 0;
                    width: 28%;
                    @include font-size(13px, 17px);
                }
                &:last-child {
                    margin-right: 0;
                }
                span.orange-number {
                    font-family: $red-hat-bold;
                    @include font-size(42px, 32px);
                    color: $orange;
                    display: inline-block;
                    margin-bottom: 10px;
                    @include media-breakpoint-down(xs) {
                        @include font-size(22px, 1);
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}
/* Contact Page */ 
.contact-page {
    .section-contact {
        @include media-breakpoint-up(lg) {
            padding: 110px 0 90px;
        }
    }
}
/* Resources Page */
.resources-page {
    .section-banner {
        background: none;
        padding-top: 110px;
        @include media-breakpoint-down(md) {
            padding-top: 60px;
        }
        .section-banner-block {
            width: 630px;
            @include media-breakpoint-down(md) {
                width: 100%;
            }
        }
    }
    .section-resources {
        padding-top: 40px;
        @include media-breakpoint-down(xs) {
            padding: 20px 0 80px;
        }
    }
} 
/* SOC-Class Page */
.soc-class-page {
    .section-soc-class {
        @include media-breakpoint-down(lg) {
            padding-top: 80px;
        }
        @include media-breakpoint-down(md) {
            padding-top: 40px;
        }
        .col-lg-6.d-none {
            @include media-breakpoint-down(md) {
                display: block !important;
            }
        }
    }
    .soc-class-block {
        @include media-breakpoint-down(xs) {
            margin-bottom: 50px;
        }
        .btn.btn-primary {
            width: 228px;
            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }
        > div:first-child p {
            padding-right: 0;
        }
    }
    .soc-video-block {
        background: url('../images/soc-video-bg.jpg');
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
        width: 100%;
        height: 614px;
        border-radius: 20px;
        display: flex;
        box-shadow: 0 4px 40px rgba(0, 0, 0, 0.08);
        margin-top: 40px;
        @include media-breakpoint-down(lg) {
            height: 530px;
        }
        @include media-breakpoint-down(md) {
            height: 388px;
        }
        @include media-breakpoint-down(sm) {
            height: 285px;
        }
        @include media-breakpoint-down(xs) {
            height: 210px;
        }
        .soc-video-link {
            display: flex;
            align-content: center;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            img {
                display: block;
                margin: 0 auto;
                @include media-breakpoint-down(sm) {
                    width: 60px;
                }
            }
            p { 
                font-family: $avenir-roman;
                color: $grey;
                margin-top: 10px;
                width: 100%;
                text-align: center;
                @include media-breakpoint-down(sm) {
                    @include font-size(12px, 1);
                }
            }
        }
    }
    .section-two-column {
        padding: 0 0 80px;
        @include media-breakpoint-down(md) {
            padding: 0 0 60px;
        }
    }
    .row-two-column {
        .btn-primary {
            width: 260px;
            margin-top: 10px;
            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }
    }
    .soc-reference-model-block{
        width: 100%;
        position: relative;
        img {
            width: 100%;
            @include media-breakpoint-down(xs) {
                margin-top: 20px;
            }
        }
        .soc-reference-model-light{
            display: block;
        }
        .soc-reference-model-dark{
            display: none;
        }
        /*&:before {
            content: "";
            position: absolute;
            background: linear-gradient(180deg, $black-300 0%, $white-100 69.27%);
            width: 100%;
            height: 333px;
            bottom: -25px;
            left: 0;
            z-index: 2;
            @include media-breakpoint-down(sm) {
                height: 190px;
            }
        }
        &:after {
            content: "";
            position: absolute;
            background: linear-gradient(0deg, $black-300 0%, $white-100 69.27%);
            width: 100%;
            height: 333px;
            top: -25px;
            left: 0;
            z-index: 2;
            @include media-breakpoint-down(sm) {
                height: 190px;
            }
        }*/
    }
    .section-add-resources {
        padding-top: 150px;
        @include media-breakpoint-down(lg) {
            padding: 80px 0;
        }
        @include media-breakpoint-down(md) {
            padding: 60px 0;
        }
        h2 {
            margin-top: 30px;
            @include media-breakpoint-down(md) {
                margin-top: 0;
            }
        }
        .btn-primary {
            width: 195px;
            @include media-breakpoint-down(xs) {
                width: 100%;
            }
        }
        .row-two-column {
            align-items: flex-start;
        }
        .resource-list {
            list-style: none;
            padding: 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            @include media-breakpoint-down(md) {
                margin-top: 50px;
            }
            @include media-breakpoint-down(xs) {
                flex-flow: column wrap;
            }
            li {
                border-radius: 20px;
                width: 257px;
                height: 250px;
                text-align: center;
                @include border-style(1px, solid, $white-500);
                transition: all .5s;
                display: flex;
                align-content: center;
                flex-wrap: wrap;
                @include hover {
                    background-color: $white;
                    box-shadow: 0 0 25px rgba(0, 102, 255, 0.15);
                }
                @include media-breakpoint-down(lg) {
                    width: 46%;
                }
                @include media-breakpoint-down(xs) {
                    width: 100%;
                    margin-bottom: 20px;
                    background-color: $white;
                    box-shadow: 0 0 25px rgba(0, 102, 255, 0.15);
                    border: none;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                img {
                    display: block;
                    margin: 0 auto;
                }
                p { 
                    font-family: $avenir-heavy;
                    color: $blue-100;
                    @include font-size(22px, 1);
                    margin-top: 30px;
                    width: 100%;
                }
            }
        }
    }
}
/* Presentations Page */
.presentations-page {
    .section-banner {
        padding: 60px 0 0;
        background: none;
        @include media-breakpoint-down(sm) {
            padding: 40px 0 0;
        }
    }
    .video-grid {
        width: 96%;
        margin: 0 0 0 auto;
        @include media-breakpoint-down(md) {
            width: 100%;
            margin: 0 0 0 auto;
        }
    }
}

.section-presentations {
    padding-top: 100px;
    @include media-breakpoint-down(md) {
        padding-top: 80px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 70px;
    }
    .load-more-presentations {
        margin-top: 60px;
        display: block;
        @include media-breakpoint-down(sm) {
            margin-top: 20px;
        }
    }
} 
/* Timeline Page */
.timeline-page{

    .timeline-banner{

        h2{
            text-align: center;
        }
        p{
            text-align: center;
            width: 720px;
            margin: 0 auto 20px;
            display: block;

            @include media-breakpoint-down(lg) {
                width: 100%; 
            }
        }
        a{
            text-align: center;
            margin: 0 auto;
            display: block;
            width: 260px;
        }
    }
    .section-timeline{
        padding-top: 0;

        .timeline-blocker{
            position: absolute;
            width: 100%;
            height: 340px;
            z-index: 3;
            left: 0;
            right: 0;
        }
        .slider{
            height: 340px;
            display: flex;
            padding-left: 115px;
            position: relative;

            .timeline-divider{
                height: 1px;
                width: 14000px;
                background-color: $light-blue;
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            .timeline-block{
                width: 250px;
                margin-right: 104px;
                position: relative;
                padding-left: 15px;

                &:nth-child(1){
                    margin-left: 115px;
                }
                &:last-child{
                    //margin-right: 0;
                }

                &.content-bottom{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-end;
                    align-content: flex-end;

                    &:before{
                        position: absolute;
                        content: " ";
                        height: 50%;
                        width: 1px;
                        border-left: 1px dotted $light-blue;
                        bottom: 0;
                        left: 0;
                        z-index: 1;
                    }
                    &:after{
                        position: absolute;
                        content: " ";
                        height: 13px;
                        width: 13px;
                        background-color: $orange-300;
                        border-radius: 50%;
                        top: 0;
                        bottom: 0;
                        left: -6px;
                        margin: auto;
                        z-index: 1;
                    }
                    .tl-date{
                        font-family: 'AvenirHeavy';
                        font-size: 16px;
                        line-height: 120%;
                        color: $grey-100;
                        position: absolute;
                        width: 100%;
                        height: 20px;
                        top: -38px;
                        bottom: 0;
                        left: -18px;
                        margin: auto;
                        z-index: 1;
                        text-align: left;
                    }
                }
                &.content-top{
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    align-content: flex-start;

                    &:before{
                        position: absolute;
                        content: " ";
                        height: 50%;
                        width: 1px;
                        border-left: 1px dotted $light-blue;
                        top: 0;
                        left: 0;
                        z-index: 1;
                    }
                    &:after{
                        position: absolute;
                        content: " ";
                        height: 13px;
                        width: 13px;
                        background-color: $orange-300;
                        border-radius: 50%;
                        top: 0;
                        bottom: 0;
                        left: -6px;
                        margin: auto;
                        z-index: 1;
                    }
                    .tl-date{
                        font-family: 'AvenirHeavy';
                        font-size: 16px;
                        line-height: 120%;
                        color: $grey-100;
                        position: absolute;
                        width: 100%;
                        height: 20px;
                        top: 38px;
                        bottom: 0;
                        left: -18px;
                        margin: auto;
                        z-index: 1;
                        text-align: left;
                    }
                }
                .tl-title{
                    font-family: 'AvenirHeavy';
                    font-size: 16px;
                    line-height: 120%;
                    color: #203043;
                }
                .tl-description{
                    font-size: 13px;
                    line-height: 150%;
                }
                .tl-title{
                    font-size: 14px;
                    line-height: 150%;
                }
            }
        }
    }
    .section-purchase{

        .row{
            text-align: center;
        }

        .btn{
            width: 260px;
            margin: 30px auto 0;
            display: block;
        }
    }
}
/* Course Description Page */
.course-description-page{
    
    /*.section-banner {
        background: url("../images/patterns/course-pattern.svg") no-repeat 0 74%;
        background-size: auto;
        background-size: cover;
    }*/
    .video-grid{
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    }
    /* accordian reset */
    .accordion-reset {

        .card {
            border: none;
            border-radius: 0;
            background: transparent;
        }
        .card-header {
            background-color: transparent;
            border-bottom: none;

            button {
                    text-decoration: none !important;
                    width: 100%;
                    text-align: left;
                    background: transparent;
                    padding: 22px 0;
                    border: none;
                    border-bottom: 1px solid $white-200;
                }
        }
    }
    .section-soc-list{

        h2{
            text-align: center;
            margin-bottom: 30px;
        }

        .accordion-soc-list{

            .card-body{
                padding: 20px 0 20px 50px;
                width: 100%;

                p{
                    margin-bottom: 25px;

                    b{
                        color: $blue-100;
                        font-size: 18px;
                    }

                    &:last-child,{
                        margin-bottom: 0;
                    }
                }
                ul{
                    padding-left: 20px;

                    li{
                        margin-bottom: 5px;

                        &:last-child,{
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .card-header{

                h5 {
                    display: inline-block;
                    width: 100%;
                }
                button {
                    font-family: $red-hat-bold;
                    font-size: 24px;
                    line-height: 1;
                    padding: 22px 0 22px 50px;
                    position: relative;
                    white-space: normal;
                    position: relative;
                    outline: none;

                    &:after {
                        content: "";
                        background: url("../images/icons/icon-minus.svg");
                        position: absolute;
                        top: 33px;
                        left: 10px;
                        width: 27px;
                        height: 3px;
                        background-size: cover;
                    }
                    &.collapsed{
                        /*font-family: $red-hat-medium;*/

                        &:after {
                            content: "";
                            background: url("../images/icons/icon-plus.svg");
                            position: absolute;
                            top: 21px;
                            left: 10px;
                            width: 27px;
                            height: 27px;
                            background-size: cover;
                            transition: all .3s;
                        }
                    }
                }

            }
        }
    }
}
/* SOC - Additional Information */
.soc-additional-information {
    .btn-primary-drive {
        width: 300px !important;
        @include media-breakpoint-down(xs) {
            width: 100% !important;
        }
    }
} 