/* Body & Html */
*, :after, :before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body, html {
    font-family: $avenir-roman;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;	
    color: $grey;
    overflow-x: hidden;
    @include font-size(16px, 22px);
}
a, a:focus, a:hover {
    text-decoration: none;
    transition: all 0.3s;
}
.container {
    width: 1150px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    padding: 0;
    @include media-breakpoint-down(lg) {
        width: 100%;
        padding: 0 20px;
    }
}