/* Fonts */
@font-face {
    font-family: 'RedHatDisplayItalic';
    src: url('../fonts/RedHatDisplayItalic.eot') format('embedded-opentype'), url('../fonts/RedHatDisplayItalic.woff2') format('woff2'), url('../fonts/RedHatDisplayItalic.woff') format('woff'), url('../fonts/RedHatDisplayItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RedHatDisplayMedium';
    src: url('../fonts/RedHatDisplayMedium.eot') format('embedded-opentype'), url('../fonts/RedHatDisplayMedium.woff2') format('woff2'), url('../fonts/RedHatDisplayMedium.woff') format('woff'), url('../fonts/RedHatDisplayMedium.ttf') format('truetype');
}

@font-face {
    font-family: 'RedHatDisplayBold';
    src: url('../fonts/RedHatDisplayBold.eot') format('embedded-opentype'), url('../fonts/RedHatDisplayBold.woff2') format('woff2'), url('../fonts/RedHatDisplayBold.woff') format('woff'), url('../fonts/RedHatDisplayBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RedHatDisplayBlack';
    src: url('../fonts/RedHatDisplayBlack.eot') format('embedded-opentype'), url('../fonts/RedHatDisplayBlack.woff2') format('woff2'), url('../fonts/RedHatDisplayBlack.woff') format('woff'), url('../fonts/RedHatDisplayBlack.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirBook';
    src: url('../fonts/AvenirBook.eot') format('embedded-opentype'), url('../fonts/AvenirBook.woff2') format('woff2'), url('../fonts/AvenirBook.woff') format('woff'), url('../fonts/AvenirBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirHeavy';
    src: url('../fonts/AvenirHeavy.eot') format('embedded-opentype'), url('../fonts/AvenirHeavy.woff2') format('woff2'), url('../fonts/AvenirHeavy.woff') format('woff'), url('../fonts/AvenirHeavy.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirMedium';
    src: url('../fonts/AvenirMedium.eot') format('embedded-opentype'), url('../fonts/AvenirMedium.woff2') format('woff2'), url('../fonts/AvenirMedium.woff') format('woff'), url('../fonts/AvenirMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirRoman';
    src: url('../fonts/AvenirRoman.eot') format('embedded-opentype'), url('../fonts/AvenirRoman.woff2') format('woff2'), url('../fonts/AvenirRoman.woff') format('woff'), url('../fonts/AvenirRoman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}