/* Utilities */
ul.no-list {
    list-style-type: none;
}
ul {
    margin: 0;
}
.hide {
    display: none;
}
/* Font Family */
@each $font-name, $font-family in $font-families {
    .font-#{$font-name} {
        font-family: $font-family;
    }
} 
/* Text Colors */
@each $text-color, $hex-color in $text-colors {
    .color-#{$text-color} {
        color: $hex-color !important;
    }
} 